---
import { PROJECTS_DATA } from '../../lib/constants'
import BaseLayout from '../../layouts/BaseLayout.astro'
import ProjectCard from '../../components/ProjectCard.astro'
import { getLangFromUrl, useTranslations } from '../../lib/i18n'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<BaseLayout
  title={t('projects.title')}
  description={t('projects.description')}
>
  <main class="m-auto w-full max-w-6xl p-4">
    <h1 class="text-3xl font-bold">{t('projects.title')}</h1>
    <p class="text-muted-foreground">{t('projects.description')}</p>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-8">
      {
        PROJECTS_DATA.map((project) => (
          <ProjectCard
            heading={project.name[lang]}
            subheading={project.description[lang]}
            imagePath={project.image}
            altText={project.name[lang]}
            tags={project.tags}
            githubUrl={project.githubUrl}
            liveUrl={project.liveUrl}
          />
        ))
      }
    </div>
  </main>
</BaseLayout>
